services:
  - type: web
    name: voxmarket-backend
    env: node
    rootDir: backend
    plan: free
    buildCommand: npm install --include=dev && npm run build
    startCommand: npm run start:prod
    envVars:
      - key: NODE_ENV
        value: production
      - key: NPM_CONFIG_PRODUCTION
        value: "false"
      - key: PORT
        sync: false
    autoDeploy: false

  - type: web
    name: voxmarket-frontend
    env: static
    rootDir: frontend
    buildCommand: npm install && npm run build
    staticPublishPath: dist
    routes:
      - type: rewrite
        source: /*
        destination: /index.html
    autoDeploy: false
